In [6]:
import pandas as pd
from Project import collector

In [7]:
data = collector.single_run_collector()
data.tail()

step: 0

step: 1

step: 2

step: 3

step: 4

step: 5

step: 6

step: 7

step: 8

step: 9

step: 10

step: 11

step: 12

step: 13

step: 14

step: 15

step: 16

step: 17

step: 18

step: 19

step: 20

step: 21

step: 22

step: 23

step: 24

step: 25

step: 26

step: 27

step: 28

step: 29

step: 30

step: 31

step: 32

step: 33

step: 34

step: 35

step: 36

step: 37

step: 38

step: 39

step: 40

step: 41

step: 42

step: 43

step: 44

step: 45

step: 46

step: 47

step: 48

step: 49

step: 50

step: 51

step: 52

step: 53

step: 54

step: 55

step: 56

step: 57

step: 58

step: 59

step: 60

step: 61

step: 62

step: 63

step: 64

step: 65

step: 66

step: 67

step: 68

step: 69

step: 70

step: 71

step: 72

step: 73

step: 74

step: 75

step: 76

step: 77

step: 78

step: 79

step: 80

step: 81

step: 82

step: 83

step: 84

step: 85

step: 86

step: 87

step: 88

step: 89

step: 90

step: 91

step: 92

step: 93

step: 94

step: 95

step: 96

step: 97

step: 98

step: 99

step: 100

step: 101

step: 102

step: 103

step: 104

step: 105

step: 106

step: 107

step: 108

step: 109

step: 110

step: 111

step: 112

step: 113

step: 114

step: 115

step: 116

step: 117

step: 118

step: 119

step: 120

step: 121

step: 122

step: 123

step: 124

step: 125

step: 126

step: 127

step: 128

step: 129

step: 130

step: 131

step: 132

step: 133

step: 134

step: 135

step: 136

step: 137

step: 138

step: 139

step: 140

step: 141

step: 142

step: 143

step: 144

step: 145

step: 146

step: 147

step: 148

step: 149

step: 150

step: 151

step: 152

step: 153

step: 154

step: 155

step: 156

step: 157

step: 158

step: 159

step: 160

step: 161

step: 162

step: 163

step: 164

step: 165

step: 166

step: 167

step: 168

step: 169

step: 170

step: 171

step: 172

step: 173

step: 174

step: 175

step: 176

step: 177

step: 178

step: 179

step: 180

step: 181

step: 182

step: 183

step: 184

step: 185

step: 186

step: 187

step: 188

step: 189

step: 190

step: 191

step: 192

step: 193

step: 194

step: 195

step: 196

step: 197

step: 198

     Agent          Role  Round  Gold  Killed_Wumpus  Nutzungszeitraum
990      0        HUNTER    199     2              1               100
991      1        KNIGHT    199     0              3               111
992      2  CARTOGRAPHER    199     1              0               151
993      3        KNIGHT    199     0              1                78
994      4        KNIGHT    199     0              0                78